@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 18px;

    --theme-bg: black;
    --theme-fg: white;
    --theme-alt-bg: rgba(15, 15, 17, 0.6);
}

body {
    @apply font-main bg-theme-bg text-theme-fg;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-header;
}

h1 {
    font-size: 1.8rem;
    font-weight: 700;
}

h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

h3 {
    font-size: 1.45rem;
    font-weight: 500;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined.fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@keyframes SPAInAnim {
    from { transform: scale(1.05); opacity: 0 }
    to { transform: scale(1); opacity: 1 }
}

@keyframes SPAOutAnim {
    from { transform: scale(1); opacity: 1 }
    to { transform: scale(.95); opacity: 0 }
}

.tippy-box[data-theme~='bloki'] {
    background-color: theme(colors.zinc.900 / 95%);
}

/* main menu styles */
#game {
    transform: scale(.8);
    pointer-events: none;
    opacity: 0;
    transition: transform 0.5s, pointer-events 0.5s, opacity 0.5s;
}

#game.active {
    transform: none;
    pointer-events: initial;
    opacity: 1;
}

#game.active~#mainMenu {
    pointer-events: none;
}

#addFriendsDialogueContainer {
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.4s;
    }

    #addFriendsDialogueContainer #addFriendsDialogueWindow {
    transform: scale(.6);
    transition: transform 0.4s;
}

#addFriendsDialogueContainer.active {
    pointer-events: initial;
    opacity: 1;
}

#addFriendsDialogueContainer.active #addFriendsDialogueWindow {
    transform: none;
}

#addFriendsProfilePreview {
    pointer-events: none;
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 0.2s, transform 0.2s;
}

#addFriendsProfilePreview.active {
    pointer-events: initial;
    opacity: 1;
    transform: none;
}

#sendFriendInviteButton {
    @apply text-blue-400 underline;
}

#sendFriendInviteButton.sent {
    @apply text-green-400 no-underline pointer-events-none;
}